@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap");




:root {
  --theme-secondary-color: rgb(32 124 136);
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #1a1a1a;
}
body {
  background-color: #1a1a1a;
  font-family: "Montserrat";
}

.contactMeButton {
  border: 1px solid var(--theme-secondary-color);
  background-color: unset;
  border-radius: 8px;
  font-size: medium;
}

.contactMeButton:hover {
  border: 1px solid var(--theme-secondary-color);
  background-color: #6d6d6d42;
}

.contactMeButton:active {
  border: 1px solid var(--theme-secondary-color) !important;
  background-color: #6d6d6d42 !important;
}
.contactMeButton:focus-visible {
  border: 1px solid var(--theme-secondary-color) !important;
  background-color: #080808ad !important;
  box-shadow:0 0 0 0.25rem #232323b8;
}

.landingBackground {
  background: linear-gradient(0deg, rgba(26, 26, 26, 0.9) 22%, rgba(26, 26, 26, 0.65) 92%), url(../assets/rec.svg) center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gloweyText {
  background: linear-gradient(to right, var(--theme-secondary-color) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.roundedButton {
  padding: 15px 30px;
  border: 1px solid var(--theme-secondary-color);
  background-color: unset;
  border-radius: 30px;
  font-size: medium;
}

.roundedButton:hover {
  border: 1px solid var(--theme-secondary-color);
  background-color: #6d6d6d42;
}

.roundedButton:active {
  border: 1px solid var(--theme-secondary-color) !important;
  background-color: #6d6d6d42 !important;
}

.roundedButton:focus-visible {
  border: 1px solid var(--theme-secondary-color) !important;
  background-color: #080808ad !important;
  box-shadow:0 0 0 0.25rem #232323b8;
}

.projectsButton {
  padding: 15px 30px;
  border: 1px solid #484e53;
  background-color: unset;
  border-radius: 30px;
  font-size: medium;
}

.projectsButton:hover {
  border: 1px solid #484e53;
  background-color: #212121;
}

.projectsButton:active {
  border: 1px solid #484e53 !important;
  background-color: #484e53 !important;
}

.projectsButton:focus-visible {
  border: 1px solid #484e53 !important;
  background-color: #080808ad !important;
  box-shadow:0 0 0 0.25rem #232323b8;
}

.projectsButton.active {
  border: 1px solid #484e53 !important;
  background-color: #484e53 !important;
}

.projectsButton.active:hover {
  background-color: #212121 !important;
}

.projectsButton.active:active {
  border: 1px solid #484e53 !important;
  background-color: #484e53 !important;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  margin-bottom: 0;
}

.boldNoSpacing {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}

h5,
p {
  font-family: "Inter", sans-serif;
}

.serviceCard {
  padding: 10px;
  text-align: start;
  border-radius: 10px;
  border: 1px solid;
  border-color: #2a2a2a;
  height: 100%;
  background: linear-gradient(338deg, rgba(28, 28, 28, 50%) 0%, rgb(5 5 5) 100%);
  mix-blend-mode: screen;
}

.serviceCard h6 {
  padding: 15px 0px !important;
  font-weight: 600;
  padding: 0px;
  margin: 0px !important;
}

.serviceCard p {
  font-weight: 300;
}

.serviceIcon {
  background-color: white;
  border-radius: 9px;
  width: 45px;
  height: 45px;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectCard {
  background-color: #2f2f2f59;
  border: 1px solid #89898926;
  height: 100%;
}

.projectCard small {
  font-size: small;
  font-weight: 300;
  min-height: 40px !important;
}

.viewAllButton {
  padding: 15px 75px;
  border: 1px solid #484e53;
  background-color: unset;
  border-radius: 30px;
  font-size: medium;
}

.viewAllButton:hover {
  border: 1px solid #484e53;
  background-color: #212121;
}

.viewAllButton:active {
  border: 1px solid #484e53 !important;
  background-color: #484e53 !important;
}
.viewAllButton:focus-visible {
  border: 1px solid #484e53 !important;
  background-color: #080808ad !important;
  box-shadow:0 0 0 0.25rem #232323b8;
}

.sectionPading {
  padding-top: 100px;
  padding-bottom: 100px;
}

.custom-svg {
  position: absolute;
  /* Position it within the stack */
  top: 0;
  left: 0;
  width: 50%;
  /* Adjust size as needed */
  height: 50%;
  /* Adjust size as needed */
}

.emailButton {
  border: 1px solid #484e53;
  background-color: unset;
  border-radius: 10px;
  font-size: medium;
}

.emailButton:hover {
  border: 1px solid #484e53;
  background-color: #212121;
}

.emailButton:active {
  border: 1px solid #484e53 !important;
  background-color: #484e53 !important;
}
.emailButton:focus-visible {
  border: 1px solid #484e53 !important;
  background-color: #080808ad !important;
  box-shadow:0 0 0 0.25rem #232323b8;
}

a {
  color: unset;

}